<!DOCTYPE html>
<html lang="es">
    <link rel="stylessheet" href="/static/index.css">
    <link rel="stylessheet" href="/static/colors.css">
    <meta charset="utf-8">
    <meta bane="viewport" content="width=device-width, initial-scale=1.0">
    <title>C.E.D.A.A.C</title>
    <header id="header"><h1 id="titulo">Bienvenido a C.E.D.A.A.C</h1>
    </header><!--CIERRO HEADER-->
    <body  class="initial-blur">
        <div class="contenedor">
        <div class="box" id='bodybox'>
        <div class="box"  id="status-bar">
        <img   id="bot-img"class="chatbotimg" src="/static/Mee6.webp">
        <h2>C.E.D.A.C</h2>
        </div><!--Cierra STATUS-BAR-->
        <div class="hide-scroll">
        <div id="chatborder">
            <div class="container" class="write-animation" id="respuesta2"></div><!--Cierra RESPUESTA2-->
            <div class="container"  id="respuesta"><span>Hola soy C.E.D.A.C , en que puedo ayudarte</span><!--Cierra RESPUESTA--></div>   
    </div><!--Cierra CHATBORDER-->
    </div><!--Cierra HIDE-SCROLL-->
    <div id="form">
    <form id="chat-form">
        <input   class="write-animation" type="text" id="message" placeholder="Escribe un mensaje">
        <button   id="my-button"  class="btn btn-white btn-animate" type="submit">Enviar</button><!--Cierra BUTTON-->
    </div><!--ciera FORM-->
    </form><!--Cierra CHAT-FORM-->
    </div><!--Cierra BODYBOX-->
</div><!---CIERRA CONTENEDOR--->
<script src="/static/index.js"></script>
<script src="/static/efects.js"></script>
</body><!--Cierra BODY-->
</html><!--Cierra HTML-->